.nav{
    background-color: yellow;
    display: flex;
    gap: 10px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.menu1{
    background-color: red;
}

.menu2{
    background-color: green;
}

.menu3{
    color: white;
    background-color: blue;
}
